###############################################################################
# Transport
############################################################################### 
RADP_TRANSPORT__MODE=http
RADP_TRANSPORT__CURL_PATH=/opt/product/bin/amd64/curl
RADP_TRANSPORT__CERT_THUMBPRINT=00ff00ff00ff00ff00ff00ff00ff00ff00ff00ff
###############################################################################
# Remote RA
###############################################################################
RADP_REMOTE_RA__BASE_URL=http://emulator:8000/api/ra/
###############################################################################
# Database
###############################################################################
RADP_DATABASE__HOST=postgres
RADP_DATABASE__PORT=5432
RADP_DATABASE__NAME=radp
RADP_DATABASE__USER=radp
RADP_DATABASE__PASSWORD=change-me
