# =============================================================================
# Transport
# ============================================================================= 
RADP_CURL_PATH=/opt/product/bin/amd64/curl
RADP_CERT_THUMBPRINT=00ff00ff00ff00ff00ff00ff00ff00ff00ff00ff
RADP_TRANSPORT=http

# =============================================================================
# API
# =============================================================================
RADP_API_BASE_URL=http://emulator:8000/api/ra
