###############################################################################
# Transport
############################################################################### 
RADP_CURL_PATH=/opt/product/bin/amd64/curl
RADP_CERT_THUMBPRINT=00ff00ff00ff00ff00ff00ff00ff00ff00ff00ff
RADP_TRANSPORT=http
###############################################################################
# Remote RA
###############################################################################
RADP_API_BASE_URL=http://emulator:8000/api/ra
###############################################################################
# Database
###############################################################################
RADP_DATABASE_DRIVER=postgres
RADP_DATABASE_HOST=localhost
RADP_DATABASE_PORT=5432
RADP_DATABASE_NAME=radp
RADP_DATABASE_USER=postgres
RADP_DATABASE_PASSWORD=postgres
RADP_SQLITE_PATH=
###############################################################################
# Logging
###############################################################################
RADP_LOG_LEVEL=INFO
